.main-content {
    height: 630px;
    overflow: auto;
    background-color: lightblue;
    padding-left: 10px;
}
h1{
    color:#3376aa;
}

.links > ul, .links li > ul{
    width: 100%;
    list-style-type: none;
    padding: 0;
}
.links a, .links .li2 a {
    display: block;
    color: white;
    width: 100%;
    box-sizing: border-box; 
}
.footer {
    text-align: center;
    background-color: navy;
    color: white;
}
.links {
    text-align: left;
    list-style-type: none;
    font-weight: bold;
    background-color: rgb(12, 172, 225, 0.5);
    width: 250px;
}

.links > li{
    position: relative;
    width: 100%;
}
li > a{
    background-color: lightblue;
    border-bottom: 1px solid black;
}
.li2{
    background-color: rgb(1, 191, 255);
    text-align: center;
    

}
.links > li, .li2 > li{
    width: 100%;
}

.links a, .li2 a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}
.links, .li2{
    list-style-type: none;
}

.up{
    display: flex;
    flex-direction: row;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    justify-items: center;
}
.wrapper2{
    display: flex;
   justify-content: center;
    justify-items: center;
    
}
body{
    background-image: url('/lab3/savanna2.jpg');
}
table {
    margin-top: 10px;
    text-align: center;
    width: 100%;

}
th {
    background-color: #3376aa;
    color: white;
    padding: 10px;
}
td {
    padding: 10px;
}

tr:nth-child(even) td {
    background-color: #bcd2e8;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

form .left-section {
    flex: 1;
}

form .right-section {
    flex: 1;
}


